.background {
  background-image: url("https://media.istockphoto.com/id/1301373510/vector/wave-on-the-vintage-paper.jpg?s=612x612&w=0&k=20&c=XWUE5ZmLVLVvkzSX0maCuB4NoXiNTKvm6Q6lNmH5SuM=");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}