body {
  background-image: url('https://i.pinimg.com/1200x/e1/77/62/e177623bfffab517811cbe5320df995e.jpg');
  background-size: cover;      /* ajusta a pantalla */
  background-attachment: fixed; /* efecto parallax suave */
  background-position: center;
}